@page "/"

<h2 style="font-family: verdana; background-color: powderblue;">
    Hi, dear Traveller... &#8195;
    &#9992;&#8195;&#8195;
    &#127780;&#8195;&#8195;
    &#127783;&#8195;&#8195;
    &#127785;
</h2>
<hr/>
<h4 style="font-family:courier;">
    Book flights to any of these beautiful places and enjoy your holidays!
</h4>
<img src="https://www.planetware.com/wpimages/2019/12/hawaii-in-pictures-beautiful-places-to-photograph-diamond-head-oahu.jpg" alt="Hawaii resort" width="460" height="345" align="middle">