@page "/"


<hr />

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        /* Clearfix (clear floats) */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
        .container {
            position: relative;
            width: 100%;
        }

        .image {
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 2%;
            right: 0;
            height: 100%;
            width: 32%;
            opacity:0;
            transition: 0.5s ease;
            background-color:black;
        }

        .container:hover .overlay {
            opacity: 0.8;
        }

        .text {
            color: white;
            font-size: 100%;
            font-family:sans-serif;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 style="font-family: sans-serif; background-color: powderblue; border: 2px solid powderblue; border-radius: 5px; padding: 5px; text-align: center">

        Welcome to Rohith & You Xin Travel Agency Website
    </h1>
    <h1 style="font-family: sans-serif; background-color: powderblue; border: 2px solid powderblue; border-radius: 5px; padding: 5px; text-align: center">
        &#8194;
        &#9992;&#8195;&#8195;
        &#127780;&#8195;&#8195;
        &#127785;&#8195;&#8195;
        &#127783;&#8195;&#8195;
        &#127780;&#8195;&#8195;
        &#127783;&#8195;&#8195;
        &#9992;
        </h1> 




    <div class="row">
        <div class="container">
            <div class="column">
                <a href="/customers/create/" target="_blank">
                    <img src="https://st2.depositphotos.com/2704315/7721/v/600/depositphotos_77215685-stock-illustration-family-travel-vector-flat-cartoon.jpg" alt="Travellers" style="width:100%">
                    <div class="overlay">
                        <div class="text">Add New Customers</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="column">
                <a href="/models/create/" target="_blank">
                    <img src="https://media.istockphoto.com/vectors/workers-in-an-airplane-factory-vector-id464825880?b=1&k=20&m=464825880&s=170667a&w=0&h=c2XpeAhtCh0mXRXvOqiW6G0LRokfK4avB8mLA8w0eUM=" alt="Airplane Warehouse Manufacturing" style="width:100%">
                    <div class="overlay">
                        <div class="text">Add New Airplane Models</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="column">
                <a href="/departures/create/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/723/723963.png" alt="Airplane Departing Icon" style="width:100%">
                    <div class="overlay">
                        <div class="text">Add New Departure Locations</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="column">
                <a href="/arrivals/create/" target="_blank">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfZFzXyZyk1Aqb7blP_GGjOK7qKh7LbLrASrzNjdmezGRGfiapLPIH7xGqBZwhHqBAzB0&usqp=CAU" alt="Airplane Arriving Icon" style="width:100%">
                    <div class="overlay">
                        <div class="text">Add New Arrival Locations</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="column">
                <a href="/flights/create/" target="_blank">
                    <img src="https://www.anylogic.com/upload/iblock/678/67875cc6c873b9e5a5d92bd8abe6490b.jpg" alt="Flights Enroute" style="width:100%">
                    <div class="overlay">
                        <div class="text">Add New Flights</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="column">
                <a href="/bookings/create/" target="_blank">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF5FTIgwBV-uhVljGRDUbSQVVFh6oGviSE2Q&usqp=CAU" alt="Flight Tickets" style="width:100%">
                    <div class="overlay">
                        <div class="text">Add New Bookings</div>
                    </div>
                </a>
            </div>
        </div>

    </div>

</body>
</html>