@page "/flights/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Flight</h3>
<hr />
<br />

<FormComponent ButtonText="Add Flight" flight="flight" OnValidSubmit="@CreateFlight" />

@code {
    Flight flight = new Flight();

    private IList<Model> Models;
    private IList<Arrival> Arrivals;
    private IList<Departure> Departures;

    protected async override Task OnInitializedAsync()
    {
        Models = await _client.GetFromJsonAsync<List<Model>>($"{Endpoints.ModelsEndpoint}");
        Arrivals = await _client.GetFromJsonAsync<List<Arrival>>($"{Endpoints.ArrivalsEndpoint}");
        Departures = await _client.GetFromJsonAsync<List<Departure>>($"{Endpoints.DeparturesEndpoint}");
    }

    private async Task CreateFlight()
    {
        await _client.PostAsJsonAsync(Endpoints.FlightsEndpoint, flight);
        _navManager.NavigateTo("/flights/");
    }

}