@page "/departures/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View Departure Location</h3>

<FormComponent departure="departure" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Departure departure = new Departure();

    protected async override Task OnParametersSetAsync()
    {
        departure = await _client.GetFromJsonAsync<Departure>($"{Endpoints.DeparturesEndpoint}/{id}");
    }
}
